

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #184C78;
    font-family: 'Gluten', cursive;
}
nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    margin-top: 2%;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 80%;
    align-items:center;
    justify-content: center;
    margin: auto;
    padding: 1%;
    box-shadow: 11px 7px 20px rgba(0, 0, 0, 0.762);
    background-color: ivory;
    border-radius: 15px;

}
input{
    font-family: 'Gluten', cursive;
    font-size: x-large;
    width: 72%;
    height: 4vh;
    background-color: ivory;
    border: none;
    border-bottom: 3px solid #184C78;
    outline: none;
    color: black;
    padding-left: 15px;
}
button{
    font-family: 'Gluten', cursive;
    font-size: x-large;
    height: 4vh;
    margin-left: 5%;
    border-radius: 15px;
    background-color: #184C78;
    color: ivory;
    padding: 0 15px 0 15px;
    margin-top: 5px;
    border: 2px solid black;
}
.resultado{
    display:flex;
    flex-wrap: wrap;
    width: 98%;
    height: 95%;
    align-items:center;
    justify-content: center;
}
.datosPais{
    width: 90%;
    height: 40vh;
    margin: 2%;
    background-color:ivory;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 2%;
    overflow: scroll;
}
.contenedor2{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    background-color: #C3BDAF;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    margin: 4% 0 0 20%;
    box-shadow: 11px 7px 20px rgba(0, 0, 0, 0.762);
}
.contenedor3{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    background-color: #f1c663;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    margin: 1% 0 0 30%;
    box-shadow: 11px 7px 20px rgba(0, 0, 0, 0.762);
}

.maps{
    width: 90%;
    height: 28vh;
    margin: 2%;
    background-color:ivory;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 2%;
    overflow: scroll;
}
/*------------------------------------------------------diseño tarjetas*/
h2{
    margin-top: 10px;
}
.bandera{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #8FBDDF;
}
.banderaImg{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    border: 2px solid black;
}
.capital{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #F06A8A;
}
.poblacion{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #FAE360;
}
.idioma{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #F48E35;
}
.moneda{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #BDE038;
}
.indicador{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #C25797;
}
.continente{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #8EA8BF;
}
.continente h1{
    font-size: x-large;
}
.semanaI{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #A68FD9;
}

.region{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #F22727;
}

.horario{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #96D2D9;
}
.area{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #FF6D1F;
}

.escudo{
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    background-color: #FF533D;
}

